<div *ngIf="loading">
    LOADING...
</div>

<div *ngIf="!loading && !error">
    <div class="row g-2 align-items-center mb-3">
        <div class="col-auto">
            Dane użytkownika <b>{{ username }}</b> o id <b>{{ user.id }}</b>
        </div>
    </div>
    <div class="row g-2 align-items-center mb-1">
        <div class="col-2">
            <label class="col-form-label" for="p0Input">p0</label>
        </div>
        <div class="col-auto">
            <input [(ngModel)]="user.p0" class="form-control" id="p0Input" type="text">
        </div>
        <div class="col-auto">
            <button (click)="getUserByp0()" class="btn btn-outline-primary">Szukaj użytkowników z tym samym p0</button>
        </div>
    </div>
    <div class="row g-2 align-items-center mb-1">
        <div class="col-2">
            <label class="col-form-label" for="p1Input">p1</label>
        </div>
        <div class="col-auto">
            <input [(ngModel)]="user.p1" class="form-control" id="p1Input" type="text">
        </div>
    </div>
    <div class="row g-2 align-items-center mb-1">
        <div class="col-2">
            <label class="col-form-label" for="p2Input">p2</label>
        </div>
        <div class="col-auto">
            <input [(ngModel)]="user.p2" class="form-control" id="p2Input" type="text">
        </div>
    </div>
    <div class="row g-2 align-items-center mb-1">
        <div class="col-2">
            <label class="col-form-label" for="p3Input">p3</label>
        </div>
        <div class="col-auto">
            <input [(ngModel)]="user.p3" class="form-control" id="p3Input" type="text">
        </div>
    </div>
    <div class="row g-2 align-items-center mb-1">
        <div class="col-2">
            <label class="col-form-label" for="p4Input">p4</label>
        </div>
        <div class="col-auto">
            <input [(ngModel)]="user.p4" class="form-control" id="p4Input" type="text">
        </div>
    </div>
    <div class="row g-2 align-items-center mb-1">
        <div class="col-2">
            <label class="col-form-label" for="p5Input">p5</label>
        </div>
        <div class="col-auto">
            <input [(ngModel)]="user.p5" class="form-control" id="p5Input" type="text">
        </div>
    </div>
    <div class="row g-2 align-items-center mb-1">
        <div class="col-2">
            <label class="col-form-label" for="p6Input">p6</label>
        </div>
        <div class="col-auto">
            <input [(ngModel)]="user.p6" class="form-control" id="p6Input" type="text">
        </div>
    </div>
    <div class="row g-2 align-items-center mb-1">
        <div class="col-2">
            <label class="col-form-label" for="p7Input">p7</label>
        </div>
        <div class="col-auto">
            <input [(ngModel)]="user.p7" class="form-control" id="p7Input" type="text">
        </div>
    </div>
    <div class="row g-2 align-items-center mb-1">
        <div class="col-2">
            <label class="col-form-label" for="p8Input">p8</label>
        </div>
        <div class="col-auto">
            <input [(ngModel)]="user.p8" class="form-control" id="p8Input" type="text">
        </div>
    </div>
    <div class="row g-2 align-items-center mb-1">
        <div class="col-2">
            <label class="col-form-label" for="p9Input">p9</label>
        </div>
        <div class="col-auto">
            <input [(ngModel)]="user.p9" class="form-control" id="p9Input" type="text">
        </div>
    </div>
    <div class="row t-1 mt-4">
        <div class="col-auto">
            <button (click)="updateUser()" class="btn btn-success">Zapisz zmiany</button>
        </div>
    </div>
</div>

<div *ngIf="!loading && error">
    <div class="row">
        <div class="col col-auto alert-danger p-3 m-auto">
            Nie znaleziono użytkownika
        </div>
    </div>
</div>
