<div *ngIf="loading" >
  LOADING...
</div>
<!--<div *ngIf="!loading && !error">-->
<!--  <h1>Username: {{ username }}</h1>-->
<!--  <h2>Id: {{ user.id }}</h2>-->
<!--  <p>p0: {{ user.p0 }}</p>-->
<!--  <p>p1: {{ user.p1 }}</p>-->
<!--  <p>p2: {{ user.p2 }}</p>-->
<!--  <p>p3: {{ user.p3 }}</p>-->
<!--  <p>p4: {{ user.p4 }}</p>-->
<!--  <p>p5: {{ user.p5 }}</p>-->
<!--  <p>p6: {{ user.p6 }}</p>-->
<!--  <p>p7: {{ user.p7 }}</p>-->
<!--  <p>p8: {{ user.p8 }}</p>-->
<!--  <p>p9: {{ user.p9 }}</p>-->
<!--</div>-->

<div *ngIf="!loading && !error">
  <div class="row g-2 align-items-center mb-3">
    <div class="col-auto">
      Dane użytkownika <b>{{ username }}</b> o id <b>{{ user.id }}</b>
    </div>
  </div>
  <div class="row g-2 align-items-center mb-1">
    <div class="col-2">
      <label for="p0Input" class="col-form-label">p0</label>
    </div>
    <div class="col-auto">
      <input [(ngModel)]="user.p0" type="text" id="p0Input" class="form-control">
    </div>
    <div class="col-auto">
      <button (click)="getUserByp0()" class="btn btn-outline-primary">Szukaj użytkowników z tym samym p0</button>
    </div>
  </div>
  <div class="row g-2 align-items-center mb-1">
    <div class="col-2">
      <label for="p1Input" class="col-form-label">p1</label>
    </div>
    <div class="col-auto">
      <input [(ngModel)]="user.p1" type="text" id="p1Input" class="form-control">
    </div>
  </div>
  <div class="row g-2 align-items-center mb-1">
    <div class="col-2">
      <label for="p2Input" class="col-form-label">p2</label>
    </div>
    <div class="col-auto">
      <input [(ngModel)]="user.p2" type="text" id="p2Input" class="form-control">
    </div>
  </div>
  <div class="row g-2 align-items-center mb-1">
    <div class="col-2">
      <label for="p3Input" class="col-form-label">p3</label>
    </div>
    <div class="col-auto">
      <input [(ngModel)]="user.p3" type="text" id="p3Input" class="form-control">
    </div>
  </div>
  <div class="row g-2 align-items-center mb-1">
    <div class="col-2">
      <label for="p4Input" class="col-form-label">p4</label>
    </div>
    <div class="col-auto">
      <input [(ngModel)]="user.p4" type="text" id="p4Input" class="form-control">
    </div>
  </div>
  <div class="row g-2 align-items-center mb-1">
    <div class="col-2">
      <label for="p5Input" class="col-form-label">p5</label>
    </div>
    <div class="col-auto">
      <input [(ngModel)]="user.p5" type="text" id="p5Input" class="form-control">
    </div>
  </div>
  <div class="row g-2 align-items-center mb-1">
    <div class="col-2">
      <label for="p6Input" class="col-form-label">p6</label>
    </div>
    <div class="col-auto">
      <input [(ngModel)]="user.p6" type="text" id="p6Input" class="form-control">
    </div>
  </div>
  <div class="row g-2 align-items-center mb-1">
    <div class="col-2">
      <label for="p7Input" class="col-form-label">p7</label>
    </div>
    <div class="col-auto">
      <input [(ngModel)]="user.p7" type="text" id="p7Input" class="form-control">
    </div>
  </div>
  <div class="row g-2 align-items-center mb-1">
    <div class="col-2">
      <label for="p8Input" class="col-form-label">p8</label>
    </div>
    <div class="col-auto">
      <input [(ngModel)]="user.p8" type="text" id="p8Input" class="form-control">
    </div>
  </div>
  <div class="row g-2 align-items-center mb-1">
    <div class="col-2">
      <label for="p9Input" class="col-form-label">p9</label>
    </div>
    <div class="col-auto">
      <input [(ngModel)]="user.p9" type="text" id="p9Input" class="form-control">
    </div>
  </div>
  <div class="row t-1 mt-4">
    <div class="col-auto">
      <button (click)="updateUser()" class="btn btn-success">Zapisz zmiany</button>
    </div>
  </div>
</div>

<div *ngIf="!loading && error">
  Couldn't find user with such username!
</div>
