<div class="row g-3 align-items-center">
    <div class="col-2">
        <label class="col-form-label" for="usernameInput">Nazwa użytkownika</label>
    </div>
    <div class="col-auto">
        <input
                [(ngModel)]="username"
                class="form-control"
                id="usernameInput"
                type="text">
    </div>
    <div class="col-auto">
        <button (click)="getUserByUsername()" class="btn btn-primary">Szukaj</button>
    </div>
</div>

<div class="row g-3 align-items-center mt-2">
    <div class="col-2">
        <label class="col-form-label" for="p0Input">Pole p0</label>
    </div>
    <div class="col-auto">
        <input
                [(ngModel)]="p0"
                class="form-control"
                id="p0Input"
                type="text">
    </div>
    <div class="col-auto">
        <button (click)="getUserByp0()" class="btn btn-primary">Szukaj</button>
    </div>
</div>

